---
import Layout from '../components/layout/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Showreel from '../components/sections/Showreel.astro';
import ClientsStrip from '../components/sections/ClientsStrip.astro';
import BuyerClarity from '../components/sections/BuyerClarity.astro';
import Work from '../components/sections/Work.astro';
import ServiceStack from '../components/sections/ServiceStack.astro';
import StorySequence from '../components/sections/StorySequence.astro';
import ProcessSticky from '../components/sections/ProcessSticky.astro';
import Testimonials from '../components/sections/Testimonials.astro';
import CTA from '../components/sections/CTA.astro';
import { organizationSchema } from '../lib/schema';
---

<Layout schema={organizationSchema()}>
  <main>
    <Hero />
    <ClientsStrip />
    <BuyerClarity />
    <Work />
    <ServiceStack />
    <ProcessSticky />
    <StorySequence />
    <Testimonials />
    <Showreel />
    <CTA />
  </main>
</Layout>
