---
import Layout from '../components/layout/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Showreel from '../components/sections/Showreel.astro';
import ClientsStrip from '../components/sections/ClientsStrip.astro';
import Work from '../components/sections/Work.astro';
import ServiceStack from '../components/sections/ServiceStack.astro';
import ManifestoStrip from '../components/sections/ManifestoStrip.astro';
import About from '../components/sections/About.astro';
import ProcessSticky from '../components/sections/ProcessSticky.astro';
import TrustSignals from '../components/sections/TrustSignals.astro';
import Testimonials from '../components/sections/Testimonials.astro';
import CTA from '../components/sections/CTA.astro';
import { organizationSchema } from '../lib/schema';
---

<Layout schema={organizationSchema()}>
  <main>
    <Hero />
    <Showreel />
    <Work />
    <ClientsStrip />
    <ServiceStack />
    <ManifestoStrip />
    <About />
    <ProcessSticky />
    <TrustSignals />
    <Testimonials />
    <CTA />
  </main>
</Layout>
