---
import Layout from '../components/layout/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Marquee from '../components/sections/Marquee.astro';
import ManifestoStrip from '../components/sections/ManifestoStrip.astro';
import About from '../components/sections/About.astro';
import Services from '../components/sections/Services.astro';
import Work from '../components/sections/Work.astro';
import Process from '../components/sections/Process.astro';
import Testimonials from '../components/sections/Testimonials.astro';
import CTA from '../components/sections/CTA.astro';
---

<Layout>
  <main>
    <Hero />
    <Marquee />
    <ManifestoStrip />
    <About />
    <Services />
    <Work />
    <Process />
    <Testimonials />
    <CTA />
  </main>
</Layout>
